@import "../../../global-styles.scss";

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  transform: translateY(-100%);
  transition: transform 1s ease-in-out;
}

.mobile-menu.open {
  transform: translateY(0%);
}

.mobile-nav {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  a {
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
    margin: 10px 40px;
    border-radius: 15px;
    background-color: $background-primary-light;

    &:hover,
    &:focus {
      border: 1px solid black;
    }
  }
}

.menu-button {
  height: 50px;
}

.close-button {
  margin-top: auto;
  margin-bottom: 60px;
  &:hover {
    background-color: #cc0000;
  }
}

.close-icon {
  position: absolute;
  top: 5vw;
  right: 10vw;
  background: transparent;
}
