@import "../../../global-styles.scss";

.gallery {
  @include flex-column;

  &-part {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;

    img {
      width: 200px;
      height: 300px;
      object-fit: cover;
      margin: 10px;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
