@import "../../../global-styles2.scss";

.header {
  background-color: $background-primary;

  @include flex-center;

  padding: 0 130px;
  max-height: 75px;

  @media screen and (max-width: #{$tablet}) {
    padding: 0 20px;
  }

  .header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      margin: 10px 0;
      img {
        max-width: 115px;
      }
    }
    .nav {
      display: flex;
      gap: 20px;
      justify-content: center;
      align-items: center;
      margin-left: 20px;

      a {
        @include flex-center;

        width: 80px;
        height: 40px;
        color: $text-dark;
        text-decoration: none;
        transition:
          color 0.3s,
          background-color 0.3s,
          border-radius 0.3s;

        @media screen and (max-width: #{$tablet}) {
          width: 50px;
          padding: 0 5px;
        }
        &:hover {
          color: $text-light;
          background-color: $background-secondary;
          border-radius: 50px;
        }
      }
    }
  }
}
