@import "../../../global-styles2.scss";

.footer {
  margin-top: auto;
  background-color: $background-primary;
  padding: 30px 0;
  width: 100%;
  @include flex-center;
}

// Styl dla logo w footerze
.footer-logo {
  position: absolute;

  max-width: 205px;
  left: 5%;

  @include flex-center;

  img {
    max-width: 205px;
    @media screen and (max-width: #{$tablet}) {
      display: none;
    }
  }
}

.footer-content {
  position: relative;
  @include flex-center;

  @include mobile {
    width: 100%;
    padding: 20px 0;
    @include flex-column;
  }
}

.socials {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 35px;

  @include mobile {
    gap: 20px;
  }
}

.socials a {
  display: flex;
  align-items: center;
  gap: 35px;

  @include mobile {
    font-size: 1.25rem;
    gap: 15px;
    width: 200px;
  }
  &:hover,
  &:focus {
    text-decoration: underline;
  }

  img {
    @include mobile {
      width: 24px;
    }
  }
}

.contact {
  @include flex-center;
  flex-direction: column;
  align-items: flex-end;

  gap: 35px;

  @media screen and (max-width: #{$tablet}) {
    gap: 20px;
  }

  @include mobile {
    align-items: center;
  }
}

.contact a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 35px;

  @include mobile {
    font-size: 1.25rem;
    gap: 15px;
    flex-direction: row-reverse;
    width: 200px;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  img {
    @include mobile {
      width: 24px;
    }
  }
}

.line {
  width: 1px;
  height: 190px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 23px;

  @media screen and (max-width: #{$mobile}) {
    height: 3px;
    width: 100vw;
    margin: 40px;
  }
}
