@import "../../../global-styles.scss";

.footer {
  background-color: $background-primary;
  padding: 30px 0;
  width: 100%;
  margin: auto;
  @include flex-center;

  @media screen and (max-width: #{$mobile}) {
    padding: 20px;
  }
}

// Styl dla logo w footerze
.footer-logo {
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: 205px;
  left: 5%;

  @include flex-center;

  img {
    max-width: 205px;
    @media screen and (max-width: #{$tablet}) {
      display: none;
    }
  }
}

.footer-content {
  position: relative;
  @include flex-center;
}

.socials {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 35px;

  @media screen and (max-width: #{$tablet}) {
    gap: 15px;
  }
}

.socials a {
  display: flex;
  align-items: center;
  gap: 35px;

  @media screen and (max-width: #{$tablet}) {
    font-size: 0.7rem;
    gap: 15px;
  }
  &:hover,
  &:focus {
    text-decoration: underline;
  }

  img {
    @media screen and (max-width: #{$tablet}) {
      width: 1.2rem;
    }
  }
}

.contact {
  @include flex-center;
  flex-direction: column;
  align-items: flex-end;

  gap: 35px;

  @media screen and (max-width: #{$tablet}) {
    gap: 15px;
  }
}

.contact a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 35px;

  @media screen and (max-width: #{$tablet}) {
    font-size: 0.7rem;
    gap: 15px;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  img {
    @media screen and (max-width: #{$tablet}) {
      width: 1.2rem;
    }
  }
}

.line {
  width: 1px;
  height: 190px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 23px;

  @media screen and (max-width: #{$tablet}) {
    height: 125px;
    margin: 0 15px;
  }
}
