@import "../../global-styles.scss";

.header {
  width: 100%;
  border: 1px solid red;
  background-color: $background-primary;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo img {
  max-width: 80px;
}
.nav {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.nav a {
  width: 80px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav a:hover {
  color: $text-light;
  background-color: $background-secondary;
  border-radius: 50px;
}
