@import "../../global-styles.scss";

.header {
  background-color: $background-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 130px;
  max-height: 75px;
}

.header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo img {
  max-width: 125px;
}

.nav {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.nav a {
  width: 80px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $text-dark;
}

.nav a:hover {
  color: $text-light;
  background-color: $background-secondary;
  border-radius: 50px;
}
