@import "../../../global-styles.scss";

.contactS {
  min-height: 80dvh;

  &-heading {
    position: relative;
    overflow: hidden;

    @include flex-center;

    &-title {
      color: $text-light;

      position: relative;
      font-size: 4rem;
      z-index: 20;

      @include mobile {
        font-size: 2.5rem;
      }
    }

    &-background {
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-info {
    overflow: hidden;
    margin: 72px 0;
    @include flex-center;

    @include tablet {
      @include flex-column;
    }

    @include mobile {
      margin: 10px 0;
      @include flex-column;
    }

    &-container {
      padding: 0 80px;
      position: relative;
      height: 200px;
      @include flex-column;
      justify-content: space-between;

      @include laptop {
        padding: 0 60px;
      }

      @include tablet {
        width: 100%;
      }

      @include mobile {
        padding: 0;
        width: 100%;
        height: auto;
        justify-content: center;
      }

      &:hover {
        background-color: #f0efef;
        transition:
          background-color 0.15s ease,
          transform 0.15s ease;

        .contactS-info-label img {
          transform: scale(1.2);
        }

        .contactS-info-detail {
          transform: scale(1.2);
        }

        &:first-child {
          border-radius: 20px 0 0 20px;

          @include tablet {
            border-radius: 0;
          }

          @include mobile {
            border-radius: 0;
          }
        }

        &:last-child {
          border-radius: 0 20px 20px 0;

          @include tablet {
            border-radius: 0;
          }

          @include mobile {
            border-radius: 0;
          }
        }
      }

      &:not(:nth-child(3n + 3)):after {
        background-color: #868686;
        content: " ";
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 2px;
        height: 100%;

        @include tablet {
          top: auto;
          width: 50%;
          height: 2px;
          left: 50%;
          transform: translateX(-50%);
        }

        @include mobile {
          top: auto;
          width: 100%;
          height: 2px;
        }
      }
    }

    &-label {
      margin: 0;
      margin-top: 30px;

      img {
        transform: scale(1);
        transition: transform 0.15s ease;
      }
    }

    &-detail {
      font-size: 1.25rem;
      margin-bottom: 30px;
      transform: scale(1);
      transition: transform 0.15s ease;
    }
  }
}
